@media only screen{
    #footer {
        height: 55px;
    }
}

@media only screen and (max-width: 820px) {
    #footer{
        height: 85px;
    }
}


@media only screen and (max-width: 430px) {
    #footer{
        height: 95px;
    }
}

#footer {
    background-color: #373A47;
    width: 100%;
    padding: 0 10px 0 10px;
    position: fixed;
    bottom: 0;
}

#footer-content {
    padding-top: 15px;
}

#footer-content > p {
    color: white;
}

#footer-content > p > a {
    color: #d7f442;
}

#footer-content > p >a:hover {
    color: #209cee;
}