:local(.main) {
    z-index: 100;
    top: 0;
    position: fixed;
    margin: 0;

    width: 100%;
    height: auto;
    
    padding: 0px 100px 0px 70px;
    background-color: #373A47;
    color: white;
}

.user-panel {
    position: fixed;
    right: 10px;
    top: 23px;
}

.user-profile {
    padding-bottom: 0;
    padding-top: 0;
}

.profile-button {
    background-color: Transparent;
    border: none;
}

.user-photo-url {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}